
#containter-form{
	background-color:#2c3035;
	padding:20px;
	border: 1px solid ;
	border-radius: 0.25rem;
}

.container-form{
	background-color:#2c3035;
	padding:20px;
	border: 1px solid ;
	border-radius: 0.25rem;
	margin-top:20px;
	margin-bottom:20px;
}

/* Scroll styles-------------------------------------------------- */
::-webkit-scrollbar {
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #212529;
  border-radius:5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #111111;
}


/* Sticky footer styles-------------------------------------------------- */
html {
 position: relative;
 min-height: 100%;
font-size:	80%;
}
nav {

}
body{
	background-color:#32383e;
}

#container{
	padding-top: 20px;
}
#bodySignupLogin{
	background: url(../img/background.jpg) no-repeat center center fixed;
 background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
 /* background-image: radial-gradient(red, yellow, green);*/
}


#nav:hover, #nav, #btnLanguage{
	color: white;
}
#nav-item{
	margin-left: 18px;
}

#notification{
	margin: 5px;
}


#addRemoveSlice:hover{
	cursor:pointer;
}

@media (max-width: 1200px) {
  #principalContainer {
    flex-direction: column;
  }
  #tools, #mapa {
  	-webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}


    
    
    