<!DOCTYPE html>
<html >
<head th:replace="fragments/head" />
<body>	
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
        <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
        
	<script type="text/javascript"
		src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.1/dist/html2canvas.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"
		charset="utf-8"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"
		charset="utf-8"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js"
		charset="utf-8"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mapael/2.2.0/js/jquery.mapael.js"
		integrity="sha512-VoFAunf/Zu2fUqtITACDq0zP7zbcxRNIa6JJCRiLLsXXxhYmoU2YUsTNQl4R0NZGm56PvpjqOs0gjQkfj91x+g=="
		crossorigin="anonymous"></script>
		

		<script th:src="${nameScript}" charset="utf-8"></script>
		
		
		<link rel="stylesheet" type="text/css" href="static/css/map.css" th:href="@{/css/map.css}">


	<script th:inline="javascript">
   
   /*<![CDATA[*/
	   var map = {'map': {  } }; 
	   var colorsLegend = {'colores': {} }; 
	   var labelsLegend = {'labels': {  } }; 
//Variables globales
//Stroke border
var strokeBorder  =[[${mapForm.borderWidth}]];
//Border color
var borderColor = [[${mapForm.borderColor}]];
//Background color
var backgroundColor = [[${mapForm.background}]];
//Color inicial de las areas
var areaInitColor=  [[${mapForm.predefinedColor}]];
//Variable donde se cargan los datos del fill de las areas 
var data = {'areas': {  } }; 
//Variables leyenda
var legendTitleColor = [[${mapForm.legendTitleColor}]] == null ? 'black' : [[${mapForm.legendTitleColor}]];
var legendTitleSize = [[${mapForm.legendTitleSize}]] == null ? '20' : [[${mapForm.legendTitleSize}]];
var legendTitleFont = [[${mapForm.legendTitleFont}]] == null ? 'Arial' : [[${mapForm.legendTitleFont}]];
  
var legendLabelColor = [[${mapForm.legendLabelColor}]] == null ? 'black' : [[${mapForm.legendLabelColor}]];
var legendLabelSize = [[${mapForm.legendLabelSize}]] == null ? '12' : [[${mapForm.legendLabelSize}]];
var legendLabelFont = [[${mapForm.legendLabelFont}]] == null ? 'Arial' : [[${mapForm.legendLabelFont}]];

var backgroundLegendColor = [[${mapForm.backgroundLegendColor}]];
var borderLegendColor = [[${mapForm.borderLegendColor}]];
var strokeWidthLegend = [[${mapForm.borderLegendWidth}]];
var radioLegend = [[${mapForm.borderLegendRadio}]]; 
//Variable leyenda
var leyenda = { 'legend' : {	'area' : { 'mode' : "vertical", 'display' : true, 'hideElemsOnClick': {'enabled':false, 'opacity' : 1, 'animDuration': 0}, 'titleAttrs': { 'font-family':legendTitleFont, 'fill' : legendTitleColor, 'font-size' : legendTitleSize}, 'labelAttrs': { 'font-family':legendLabelFont , 'fill' : legendLabelColor , 'font-size' : legendLabelSize }, 'title' : [[${mapForm.legendTitle}]],'slices': []}}};
   
   //Algoritmo para procesar los datos y poder presentarlos correctamente para que el mapa los represente
   if([[${drawAreas}]]){
	   var a=[[${areas}]];  
		var regiones = a.split(",");
		for(i=0; i < regiones.length-1 ; i++){
			var regiones1 = regiones[i].split(":");
			var color = regiones1[3].split(" ");
			var region1 = regiones1[0].replace(/['"]+/g, '');
		    var region = region1.replace(" ", '').trim();
		    
			data.areas[region] = {
			           attrs: {
			               fill: color[0].replace(/['" }]+/g, '')
			           }
			       };
			colorsLegend.colores[region]=color[0].replace(/['" }]+/g, '');
		  }
   }
   
 //Algoritmo para procesar los datos de la leyenda y poder presentarlos correctamente 
   if([[${drawLegend}]]){
		  var legends=[[${legends}]];
		  console.log(legends);
			var leyendas = legends.split("},{");
			if(legends!="[]"){
				for(i=0; i < leyendas.length ; i++){
					
					var datos = leyendas[i].split(":");
					var fill0 = datos[2].replace("}", '');
					var fills = fill0.split(",");
					var fill = fills[0].replace(/['"]+/g, '').trim() ;
					var label =datos[4].replace("]", '').replace(/['"]+/g, '').trim() ;
					label = label.replace("]", '');
					leyenda.legend.area.slices[i]={'attrs': {'fill': fill, 'stroke': fill },'label': label};
				
					$("#sliceColor"+i).val(fill);
					$("#sliceText"+i).val(label);
					
				  }
			}
			
   }
   
   //Variable en la que se cargan las actulizaciones del fill de las areas. Se le cargan las areas con un fill establecido previamente
   var newData = data;
   //Procesar las tooltips
   var areasTooltip = {'areas': {  } }; 
   var tooltips = [[${tooltipsText}]];
   
   var regiones = tooltips.split(",");
   for(i=0; i < regiones.length-1 ; i++){
	   var regiones1 = regiones[i].split(":");
	   var region1 = regiones1[0].replace(/['"{]+/g, '');
	   var region = region1.replace(" ", '');
	   var tooltips = regiones1[3].replace(/['"}]+/g, '');
	   areasTooltip.areas[region] = {
	           tooltip: {
	               content: "<span style=\"font-weight:bold;\">" + tooltips  + "</span><br />"
	           }
	       };
	  }
   
   
   function changeSelectedColor(value) {
	   var color = {
	           'map': {'defaultArea' : {'attrsHover' : { 'fill' : value}}}
       };
	   $(".mapcontainer").trigger('update', [{mapOptions: color}]);
   }
   
   function changeBackground(value) {
	   
	   backgroundColor=value;
	   $("#contenedor").css("background-color", backgroundColor);
	   $("#mapa").css("background-color", backgroundColor);
	   $("#selectedBackgroundColor").val(value.trim());
       return value;
   }
   
   function changeBordersColor(value) {
	   borderColor=value;
	   var color = {
	           'map': {'defaultArea' : {'attrs' : { 'stroke' : borderColor}}}
       };
      
       $(".mapcontainer").trigger('update', [{mapOptions: color}]);
       $("#selectedBorderColor").val(value.trim());
   }
   
   function changeLegendTitle(value) {
	   leyenda.legend.area.title=value;
	   $(".mapcontainer").trigger('update', [{mapOptions: leyenda}]);
	   $("#legendTitle").val(value);
   }
   function changeLegendPosition(value) {
	   leyenda.legend.area.mode=value;
	   $(".mapcontainer").trigger('update', [{mapOptions: leyenda}]);
	  
	   
   }
   
   function showLegend(value) {
	   if(value=="true"){
		   $(".areaLegend").css("visibility", "visible");
	   }else if (value=="false"){
		   $(".areaLegend").css("visibility", "hidden");
	   }
	   $(".mapcontainer").trigger('update', [{mapOptions: leyenda}]);
   }
   
   
   function changeRadioLegend(value){
	   $("#legend-container").css("border-radius", value);
	   $("#borderRadioLegend").val(value);
   }
   
   function changeStrokeWidthLegend(value){
	   $("#legend-container").css("border-width", value);
	   $("#borderWidthLegend").val(value);
   }
   function changeBorderColorLegend(value){
	   $("#legend-container").css("border-color", value);
	   $("#selectedBorderColorLegend").val(value);
   }
	function changeBackgroundColorLegend(value){
		$("#legend-container").css("background-color", value);
		$("#selectedBackgroundColorLegend").val(value);
   }
   function changeLegendTitleColor(value){
	   leyenda.legend.area.titleAttrs={ 'fill' : value};
	   $(".mapcontainer").trigger('update', [{mapOptions: leyenda}]);
	   $("#colorTitleLegend").val(value.trim());
   }
   
   function changeLegendTitleFont(value){
	   leyenda.legend.area.titleAttrs={ 'font-family' : value};
	   $(".mapcontainer").trigger('update', [{mapOptions: leyenda}]);
	   $("#fontTitleLegend").val(value.trim());
   }
   
   function changeLegendTitleSize(value){
	   leyenda.legend.area.titleAttrs={ 'font-size' : value};
	   $(".mapcontainer").trigger('update', [{mapOptions: leyenda}]);
	   $("#sizeTitleLegend").val(value.trim());
   }
   function changeLegendLabelColor(value){
	   leyenda.legend.area.labelAttrs={ 'fill' : value};
	   $(".mapcontainer").trigger('update', [{mapOptions: leyenda}]);
	   $("#colorLabelLegend").val(value.trim());
   }
   
   function changeLegendLabelFont(value){
	   leyenda.legend.area.labelAttrs={ 'font-family' : value};
	   $(".mapcontainer").trigger('update', [{mapOptions: leyenda}]);
	   $("#fontLabelLegend").val(value.trim());
   }
   
   function changeLegendLabelSize(value){
	   leyenda.legend.area.labelAttrs={ 'font-size' : value};
	   $(".mapcontainer").trigger('update', [{mapOptions: leyenda}]);
	   $("#sizeLabelLegend").val(value.trim());
   }

   function changeStrokeWidth(value){
	   strokeBorder=value;
	   var map = {map: { name: [[${map}]],zoom: { enabled: false },  defaultArea: {  attrs: { fill: areaInitColor ,stroke: borderColor,
           "stroke-width": value, cursor: "pointer" }, attrsHover: { animDuration: 50, fill: document.getElementById("selectedColor").value , cursor: "pointer" }, eventHandlers: { click: function (e, id, mapElem, textElem) { newData.areas[id] = { attrs: { fill: document.getElementById("selectedColor").value      } }; 
	   var l = JSON.stringify(newData.areas);	
		   $(".area1").val(l); 
		   $(".edited").val("true");
		   $(".mapcontainer").trigger('update', [{mapOptions: newData}]);
          colorsLegend.colores[id]=newData.areas[id].attrs.fill;

          addSliceColor();
          updateLegend();
	    } }  }} };
	   $(".mapcontainer").trigger('update', [{ mapOptions: map }]);
	   $("#strokeWidth").val(value);
   }
   
   function changeDefaultColorArea(value){
	   areaInitColor=value;
	   var map = {map: { name: [[${map}]],zoom: { enabled: false },  defaultArea: {  attrs: { fill: areaInitColor ,stroke: borderColor,
           "stroke-width": strokeBorder, cursor: "pointer" }, attrsHover: { animDuration: 50, fill: document.getElementById("selectedColor").value , cursor: "pointer" }, eventHandlers: { click: function (e, id, mapElem, textElem) { newData.areas[id] = { attrs: { fill: document.getElementById("selectedColor").value      } }; 
	   var l = JSON.stringify(newData.areas);	
		   $(".area1").val(l); 
		   $(".edited").val("true");
		   $(".mapcontainer").trigger('update', [{mapOptions: newData}]);
          colorsLegend.colores[id]=newData.areas[id].attrs.fill;

          addSliceColor();
          updateLegend();
	    } }  }} };
	   $(".mapcontainer").trigger('update', [{ mapOptions: map }]);
	   $("#defaultAreaColor").val(value);
   }
   
   
   function updateLegend(){
		    var map = {map: { name: [[${map}]],zoom: { enabled: false },  defaultArea: {  attrs: { fill: areaInitColor ,stroke: borderColor,
                "stroke-width": strokeBorder, cursor: "pointer" }, attrsHover: { animDuration: 50, fill: document.getElementById("selectedColor").value , cursor: "pointer" }, eventHandlers: { click: function (e, id, mapElem, textElem) { newData.areas[id] = { attrs: { fill: document.getElementById("selectedColor").value      } }; 
		   var l = JSON.stringify(newData.areas);	
			   $(".area1").val(l); 
			   $(".edited").val("true");
			   $(".mapcontainer").trigger('update', [{mapOptions: newData}]);
	           colorsLegend.colores[id]=newData.areas[id].attrs.fill;
	
	           addSliceColor();
	           updateLegend();
		    } }  }} };
		    
		   leyenda.legend.area.slices=[];
		 	//Actualizará la leyenda con los datos guardados
	       $(".mapcontainer").trigger('update', [{ mapOptions: leyenda , replaceOptions:true}]);
	       //Actualizara con la variable de los datos de las áreas
	       $(".mapcontainer").trigger('update', [{ mapOptions: newData }]);
	       //Actuliza con los tooltips de las areas
	       $(".mapcontainer").trigger('update', [{ mapOptions: areasTooltip }]);
	       $(".mapcontainer").trigger('update', [{ mapOptions: map }]);
	       changeBordersColor($("#selectedBorderColor").val());
	       changeBackground($("#selectedBackgroundColor").val());	
	       changeLegend();
   }
   
	var counterSlices= 0;
   
   function changeLegend(){
	   var leyendaActualizada = { 'legend' : {	'area' : { 'slices': [] }}};
	   
	   for(i=0 ; i< counterSlices; i++){
		   leyendaActualizada.legend.area.slices[i]={'attrs': {'fill': $("#sliceColor"+i).val(), 'stroke': $("#sliceColor"+i).val() },'label': $("#sliceText"+i).val()};
		  
			   labelsLegend.labels[$("#sliceColor"+i).val()] = {
	                   label: $("#sliceText"+i).val(),
	                   color: $("#sliceColor"+i).val()
	           };
		   
			   
	   }
	   $(".legendInput").val(JSON.stringify(leyendaActualizada.legend.area.slices));
	   $(".mapcontainer").trigger('update', [{mapOptions: leyendaActualizada}]);
	   $(".editedLegend").val("true");
   }
   
   var oldColor;
   var newColor;
   function changeFillAreas(value){
	   newColor=value;
	   labelsLegend.labels[newColor] = {
               label: labelsLegend.labels[oldColor].label,
               color: newColor
       };
	   delete labelsLegend.labels[oldColor];
	   
	   changeColors(JSON.stringify(colorsLegend.colores));
	   addSliceColor();
	   updateLegend();
	   var l = JSON.stringify(newData.areas);
		$(".area1").val(l);
   }
   function getOldColor(value){
	   oldColor=value;
   }
   function changeColors(value){
	   var colores = value.replace("}", '').replace("{", '').split(",");
	   for(i=0; i < colores.length ; i++){
		   var color = colores[i].split(":");
		   var id = color[0].replace(/['"}]+/g, '');
		   var c = color[1].replace(/['"}]+/g, '');
		   if(colorsLegend.colores[id] == oldColor){
			   colorsLegend.colores[id] = newColor;
			   newData.areas[id] = { attrs: {  fill: newColor } };
		   }
	     }
	     var l = JSON.stringify(newData.areas);
     		$(".area1").val(l);
         $(".edited").val("true");
	   
   }
   
   function addSlice(color){
	   var label = labelsLegend.labels[color]!=null ? labelsLegend.labels[color].label : '';
	   var color1 = "<input style='height:1.8rem;' onClick=getOldColor(value) onChange=changeFillAreas(value) class='colorBox col-1' value=" + color +" id='sliceColor"+counterSlices +"' type='color' onChange=changeLegend()> ";
	   var input = "<input style='height:1.8rem;margin-left:5px' class='form-control text-light bg-dark col-6' value='"+ label + "' id='sliceText"+counterSlices +"' type='text' onChange=changeLegend()  placeholder=''><br>";
	   var div = "<div style='padding-left:15px;margin-bottom:5px;' class='row' id=slice"+counterSlices+">"+ color1 + input + "</div>"
	   counterSlices++;
	   $("#slicesLegend").append(div);

   }
   
   
   function addSliceColor(){
	   for(i=0;i<counterSlices;i++){
		   var legend =document.getElementById("slice" + i);
		   legend.remove(legend);
	   }
	   counterSlices=0;
	  
  	 var coloresLeg=[];
  	 var colores = JSON.stringify(colorsLegend.colores).split(",");
     for(i=0; i < colores.length ; i++){
    	 var color = colores[i].split(":");
    	 coloresLeg[i]=color[1].replace(/['"}]+/g, '');
     }
     //updateLegend();
     
     const coloresFinal = []
     const myObj = {};
     coloresLeg.forEach(el => { if(!(el in myObj)){ myObj[el] = true; coloresFinal.push(el); } });

     
     for(i=0; i < coloresFinal.length ; i++){
    	 addSlice(coloresFinal[i]);
     }
   }
     
   
   
   //Establezco el background del mapa cargado. Si es un mapa nuevo toma el valor que le paso en el controlador
  function load() {
	   changeBackground(backgroundColor);
	   changeBackgroundColorLegend(backgroundLegendColor);
	   changeBorderColorLegend(borderLegendColor);
	   changeStrokeWidthLegend(strokeWidthLegend);
	   changeRadioLegend(radioLegend);
	   if([[${drawLegend}]]){
			   var legends=[[${legends}]];
				var leyendas = legends.split("},{");
				for(i=0; i < leyendas.length ; i++){
					var datos = leyendas[i].split(":");
					var fill0 = datos[2].replace("}", '').replace(/['"]+/g, '');
					var fills = fill0.split(",");
					var fill = fills[0].trim() ;
					var label =datos[4].replace("]", '').replace(/['"]+/g, '').trim() ;
					label = label.replace("]", '');
					leyenda.legend.area.slices[i]={'attrs': {'fill': fill, 'stroke': fill },'label': label};
					addSlice(fill);
					$("#sliceColor"+i).val(fill);
					$("#sliceText"+i).val(label);
					labelsLegend.labels[fill] = {
			                   label: label,
			                   color: fill
			           };
				  }
	   }
	   
  }
  window.onload = load;
  
  function change(){
	  alert("");
  }
        $(function () {
        	$("#map-container").css("width",[[${width}]]);
            $(".mapcontainer").mapael({
            	map: {
                    name: [[${map}]],
                    zoom: {
                        enabled: false
                    },
                    defaultArea: {
                        attrs: {
                            fill: areaInitColor,
                            stroke: borderColor,
                            "stroke-width": strokeBorder,
                            cursor: "pointer"
                        },
                        attrsHover: {
                            animDuration: 50,
                            fill: document.getElementById("selectedColor").value ,
                            cursor: "pointer"
                        },
                        eventHandlers: {
                            click: function (e, id, mapElem, textElem) {
                                    newData.areas[id] = {
                                        attrs: {
                                            fill: document.getElementById("selectedColor").value                                            
                                        }
                                    };
                                var l = JSON.stringify(newData.areas);
                            	$(".area1").val(l);
                                $(".mapcontainer").trigger('update', [{mapOptions: newData}]);
                                $(".edited").val("true");
                                
                                colorsLegend.colores[id]=newData.areas[id].attrs.fill;
                                addSliceColor();
                            	updateLegend();
                                
                            	
                            }
                        }
                    }
                },
                legend : {
                	area : { 
                			}
                }
            });
            //Actualizará la leyenda con los datos guardados
            $(".mapcontainer").trigger('update', [{ mapOptions: leyenda }]);
            //Actualizara con la variable de los datos de las áreas
            $(".mapcontainer").trigger('update', [{ mapOptions: newData }]);
            //Actuliza con los tooltips de las areas
            $(".mapcontainer").trigger('update', [{ mapOptions: areasTooltip }]);
            
            $(".namecode").val([[${map}]]);
        });
        /*]]>*/
    </script>
	<nav th:replace="fragments/nav" />
	
	
	<div class="container-fluid">
	<div class="alert alert-success text-center" role="alert" id="loadSuccess" style="margin-top:5px;width:97%;display: none;position:absolute; z-index:10;" th:text="#{map.cargadoCorrecto}">El mapa se ha cargado correctamente</div>
			<div class="alert alert-danger text-center" id="loadError" style="margin-top:5px;width:97%;display: none;position:absolute; z-index:10;" th:text="#{map.mapaErroneo}" >El mapa cargado no se corresponde con el actual</div>
	<div class="alert alert-danger text-center" id="loadErrorFormat" style="margin-top:5px;width:97%;display: none;position:absolute; z-index:10;" th:text="#{map.archivoErroneo}" >El archivo cargado no tiene el formato correcto</div>
	<div id="principalContainer" class="row">
		
			<div id="tools" class="col-4 " style="">
			
				
					<form id="form" style="" th:object="${mapForm}" th:action="${edit}? @{/editMap} : @{/saveMap}" method="post">
						
						<input class="form-control" type=hidden th:field="${mapForm.id}" th:if="${edit}">
						<h1 class="text-light" th:text="#{${nameMap}}">Mapa del mundo</h1>
						<div sec:authorize="isAuthenticated()" id="box-form-map" >
							<div class="form-group">
								<h4 class="text-light" th:text="#{map.mapname}" >Nombre del mapa</h4>
								<input id="mapname" class="text-light bg-dark form-control" th:placeholder="#{map.mapname}" type="text" th:field="${mapForm.name}">
							</div>
						</div>
						<div id="box-form-map" >
							<div>
								<h4 class="text-light" th:text="#{map.configuration}">Configuración del mapa</h4>
							</div>
							<div class="row" id="row-election">
								<div class="form-check col-6">
									<label th:text="#{map.color}"  class="text-light form-check-label"	for="selectedColor">Color</label>
									<input class="text-light" onChange="changeSelectedColor(value)" id="selectedColor" type="color">
								</div>
								<div class="form-check">
									<label th:text="#{map.background}" for="selectedBackgroundColor" class="text-light form-check-label">Fondo</label>
									<input class="text-light " onChange="changeBackground(value)" id="selectedBackgroundColor" type="color" th:field="${mapForm.background}"> 	
								</div>
								
							</div>
							<div class="row"  id="row-election">
								<div class="form-check col-5">
									<label th:text="#{map.bordes}" for="selectedBorderColor" class="text-light form-check-label">Bordes</label>
									<input class="text-light" onChange="changeBordersColor(value)" th:field="${mapForm.borderColor}" id="selectedBorderColor" type="color"> 		
								</div>
								<div class="form-check">
									<label class="form-check-label text-light"	for="defaultAreaColor" th:text="#{map.colorPredeterminado}">Color predeterminado</label>
									<input th:field="${mapForm.predefinedColor}" class=" text-light" onChange="changeDefaultColorArea(value)" id="defaultAreaColor" type="color">
								</div>
							</div>
							<div class="row"  id="row-election">
								<div class="form-check colo-6">
									<label for="strokeWidth" class="text-light form-check-label"  th:text="#{map.anchoBordes}">Ancho de los bordes</label>
									<select id="strokeWidth" name="combo" class="bg-dark text-light" onChange="changeStrokeWidth(value)" th:field="${mapForm.borderWidth}">
											<!-- Opciones de la lista -->
											<option value="0">0.0</option>
											<option value="0.2">0.2</option>
											<option value="0.4" selected>0.4</option>
											<option value="0.6" >0.6</option>
											<option value="0.8">0.8</option>
											<option value="1">1.0</option>
											<option value="1.2">1.2</option>
											<option value="1.4">1.4</option>
											<option value="1.6">1.6</option>
											<option value="1.8">1.8</option>
											<option value="2">2.0</option>
											<option value="2.5">2.5</option>
											<option value="3">3.0</option>
											<option value="4">4.0</option>
											<option value="5">5.0</option>
											<option value="6">6.0</option>
										</select> 	
								</div>
							</div>
						</div>
						<div id="box-form-map" >
							<div>
								<h4 class="text-light" th:text="#{map.legendconfiguration}" >Configuración de la leyenda</h4>
								<div id="row-election">
									<input class="text-light bg-dark" type="radio" id="show" name="show" checked=true value="true" onChange="showLegend(value)"> 
									<label class="text-light" th:text="#{map.show}" for="show">Mostrar</label> 
									
									<input type="radio" id="hidde" name="show" value="false" onChange="showLegend(value)">
									<label class="text-light" th:text="#{map.hidde}" for="hidde">Ocultar</label>
								</div>
							</div>
							<div hidden id="row-election">
								<input type="radio" id="vertical" name="position" checked=true
									value="vertical" onChange="changeLegendPosition(value)">
								<label class="text-light" th:text="#{map.vertical}" for="vertical">Vertical</label> <input type="radio"
									id="horizontal" name="position" value="horizontal"
									onChange="changeLegendPosition(value)"> 
									<label class="text-light" th:text="#{map.horizontal}"
									for="horizontal">Horizontal</label>
							</div>
							<div id="row-election" class="form-group">
								<h5 th:text="#{map.legendtitle}" class="text-light">Título de la leyenda</h5> 
								<input th:placeholder="#{map.legendtitle}"  onChange="changeLegendTitle(value)" class="form-control bg-dark text-light" id="legendTitle" type="text" th:field="${mapForm.legendTitle}">
							</div>
							<div id="row-election"><h5 class="text-light" th:text="#{map.legendStyle}">Estilo de la leyenda</h5> </div>
							
							<div class="row" id="row-election">
								<div class="form-check col-6">
									<label class="text-light form-check-label"	th:text="#{map.background}" for="selectedBackgroundColorLegend">Fondo</label>
									<input th:field="${mapForm.backgroundLegendColor}" class="text-light" onChange="changeBackgroundColorLegend(value)" id="selectedBackgroundColorLegend" type="color">
								</div>
								<div class="form-check">
									<label for="selectedBorderColorLegend" th:text="#{map.bordes}" class="text-light form-check-label">Borde</label>
									<input th:field="${mapForm.borderLegendColor}" class="text-light " onChange="changeBorderColorLegend(value)" id="selectedBorderColorLegend" type="color"> 	
								</div>
								
							</div>
							<div class="row"  id="row-election">
								<div class="form-check ">
									<label for="borderWidthLegend" class="text-light form-check-label" th:text="#{map.anchoBordes}">Ancho de los bordes</label>
									<select th:field="${mapForm.borderLegendWidth}" id="borderWidthLegend" name="combo" class="bg-dark text-light" onChange="changeStrokeWidthLegend(value)" >
											<!-- Opciones de la lista -->
											<option value="0px">0 px</option>
											<option value="1px">1 px</option>
											<option value="2px">2 px</option>
											<option value="3px">3 px</option>
											<option value="4px">4 px </option>
											<option value="5px">5 px</option>
											<option value="6px">6 px</option>
											<option value="7px">7 px</option>
											<option value="8px">8 px</option>
											<option value="9px">9 px</option>
											<option value="10px">10 px</option>
										</select> 	
								</div>
							</div>
							<div class="row"  id="row-election">
								<div class="form-check colo-6">
									<label for="borderRadioLegend" class="text-light form-check-label" th:text="#{map.radioBordes}">Radio de los bordes</label>
									<select th:field="${mapForm.borderLegendRadio}" id="borderRadioLegend" name="combo" class="bg-dark text-light" onChange="changeRadioLegend(value)" >
											<!-- Opciones de la lista -->
											<option value="0px">0 px</option>
											<option value="1px">1 px</option>
											<option value="2px">2 px</option>
											<option value="3px">3 px</option>
											<option value="4px">4 px</option>
											<option value="5px">5 px</option>
											<option value="6px">6 px</option>
											<option value="7px">7 px</option>
											<option value="8px">8 px</option>
											<option value="9px">9 px</option>
											<option value="10px">10 px</option>
											<option value="20px">20 px</option>
											<option value="30px">30 px</option>
										</select> 	
								</div>
							</div>
							<div id="row-election" >
								<h5 th:text="#{map.title}" class="text-light">Título</h5> 
								<div class="row">
									<div class="col-3">
										<label th:text="#{map.color}" class="text-light" for="colorTitleLegend ">Color</label> 
										<input th:field="${mapForm.LegendTitleColor}" class="form-check-label text-light " id="colorTitleLegend" onChange="changeLegendTitleColor(value)" type="color"> 
									</div>
									<div class="col-5">
										<label for="fontTitleLegend" th:text="#{map.font}" class="text-light">Fuente</label>
										<select class="text-light bg-dark" id="fontTitleLegend" name="combo" onChange="changeLegendTitleFont(value)" th:field="${mapForm.LegendTitleFont}">
											<!-- Opciones de la lista -->
											<option value="Arial">Arial</option>
											<option value="Lucida Console">Lucida Console</option>
											<option value="Gill Sans Extrabold">Gill Sans Extrabold</option>
											<option value="Verdana" selected>Verdana</option>
											<option value="Fantasy">Fantasy</option>
											<option value="Cursive">Cursive</option>
											<option value="Monospace">Monospace</option>
											<option value="Serif">Serif</option>
											<option value="Sans-serif">Sans-serif</option>
											<option value="Comic Sans MS">Comic Sans MS</option>
											<option value="Arial Black">Arial Black</option>
											<option value="Tahoma">Tahoma</option>
											<option value="Georgia">Georgia</option>
										</select> 
									</div>
									<div class="col-4">
										<label for="sizeTitleLegend" th:text="#{map.size}" class="text-light">Tamaño</label> 
										<select class="text-light bg-dark" id="sizeTitleLegend" name="combo" onChange="changeLegendTitleSize(value)" th:field="${mapForm.LegendTitleSize}">
											<!-- Opciones de la lista -->
											<option value="20">20</option>
											<option value="22">22</option>
											<option value="24">24</option>
											<option value="26">26</option>
											<option value="28">28</option>
											<option value="30">30</option>
											<option value="32">32</option>
											<option value="34">34</option>
										</select>
									</div>
								</div>
							</div>
						<div id="row-election">
							<h5 th:text="#{map.labels}" class="text-light">Etiquetas</h5> 
							<div class="row">
								<div class="col-3">
								<label th:text="#{map.color}" for="colorLabelLegend"
									class="text-light">Color</label> 
									<input 
									th:field="${mapForm.LegendLabelColor}" class="form-check-label text-light "
									id="colorLabelLegend" onChange="changeLegendLabelColor(value)"
									type="color"> 
								</div>
								<div class="col-5">
									<label for="fontLabelLegend" th:text="#{map.font}" class="text-light">Fuente</label> 
									<select id="fontLabelLegend" class="text-light bg-dark"
									name="combo" onChange="changeLegendLabelFont(value)"
									th:field="${mapForm.LegendLabelFont}">
									<!-- Opciones de la lista -->
									<option value="Arial">Arial</option>
									<option value="Verdana">Verdana</option>
									<option value="Lucida Console">Lucida Console</option>
									<option value="Gill Sans Extrabold">Gill Sans Extrabold</option>
									<option value="Fantasy">Fantasy</option>
									<option value="Cursive">Cursive</option>
									<option value="Monospace">Monospace</option>
									<option value="Serif">Serif</option>
									<option value="Sans-serif">Sans-serif</option>
									<option value="Comic Sans MS">Comic Sans MS</option>
									<option value="Arial Black">Arial Black</option>
									<option value="Tahoma">Tahoma</option>
									<option value="Georgia">Georgia</option>
								</select>
								</div>
								<div class="col-4"> 
								<label for="sizeLabelLegend" th:text="#{map.size}" class="text-light">Tamaño</label> <select id="sizeLabelLegend" name="combo"
									onChange="changeLegendLabelSize(value)"
									th:field="${mapForm.LegendLabelSize}" class="text-light bg-dark" >
									<!-- Opciones de la lista -->
									<option value="12">12</option>
									<option value="14">14</option>
									<option value="16">16</option>
									<option value="18">18</option>
									<option value="20">20</option>
									<option value="22">22</option>
									<option value="24">24</option>
									<option value="26">26</option>
									<option value="28">28</option>
								</select>
								</div>
							</div>
						</div>
					
						<div id="slicesLegend">
							<h5  class="text-light" th:text="#{map.labelConfiguration}" id="legend-configuration">Configuración de etiquetas</h5>
						</div>
					
					</div>
					


						<div>
							<input type="text" class="legendInput" th:field="${mapForm.legendInput}" hidden="true"> 
							<input type="text" class="area1" hidden="true" th:field="${mapForm.area1fill}"> 
							<input type="text" class="namecode" hidden="true" th:field="${mapForm.namecode}">
							<input type="text" class="edited" hidden="true" th:field="${mapForm.edited}"> 
							<input type="text" class="editedLegend" hidden="true" th:field="${mapForm.editedLegend}">
						</div>

<div id="box-form-map" >
						<nav class="navbar download">
						
						<div class="btn-group btn-block"  >

							<div class="btn-group btn-block" role="group">
								<button id="btnCapturar" type="button"
									class="btn btn-primary btn-block dropdown-toggle"
									data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false" th:text="#{map.download}">Descargar</button>
								<div class="dropdown-menu btn-block" aria-labelledby="btnGroupDrop1">
									<a th:text="#{map.png}" class="btn btn-block" id="download" download="map.png" href="" onclick="download_img(this);">Formato PNG</a> 
									<a th:text="#{map.jpg}" class="btn btn-block" id="download" download="map.jpg" href="" onclick="download_img(this);">Formato JPG</a> 
									<a th:text="#{map.pdf}" class="btn btn-block" id="download" href=""  onclick="getPDF()">Formato PDF</a> 
									<a th:text="#{map.json}" class="btn btn-block" id="JSON" href=""  onClick="getJSON()">Formato JSON</a> 
								</div>
							</div>
						</div>
						<label id="import" class="btn btn-danger btn-block" for="file-input" th:text="#{map.import}">Importar JSON</label>
					   		<input hidden class="form-control-file" type="file" id="file-input">
						
					<button id="guardar" sec:authorize="isAuthenticated()" th:text="#{map.savemap}" type="submit" class="btn btn-success btn-block">Guardar
							mapa</button>
						  

					</nav>
				</div>	  
						    <script type="text/javascript">
						        function leerArchivo(e) {
								  var archivo = e.target.files[0];
								  if (!archivo) {
								    return;
								  }
								  var lector = new FileReader();
								  lector.onload = function(e) {
								    var contenido = e.target.result;
								    try{
								    	var json = JSON.parse(contenido);
								    	data = {'areas': {  } };
								    	labelsLegend = {'labels': {  } }; 
									    if(json.namecode==$(".namecode").val()){
									    	 $("#mapname").val(json.name);
											    changeBackground(json.background);
											    changeBordersColor(json.border);
											    changeLegendTitle(json.legendtitle);
											    changeLegendTitleColor(json.legendtitlecolor);
											    changeLegendTitleFont(json.legendtitlefont);
											    changeLegendTitleSize(json.legendtitlesize);
											    changeLegendLabelColor(json.legendlabelcolor);
											    changeLegendLabelFont(json.legendlabelfont);
											    changeLegendLabelSize(json.legendlabelsize);
											    changeDefaultColorArea(json.predefinedColor);
											    changeStrokeWidth(json.strokeWidth);
											    changeBackgroundColorLegend(json.backgroundLegendColor);
											    changeBorderColorLegend(json.borderLegendColor);
											    changeStrokeWidthLegend(json.borderWidthLegend);
											    changeRadioLegend(json.borderRadioLegend);
											    
											    var legends=json.legend;
												var leyendas = legends.split("},{");
												
												leyenda.legend.area.titleAttrs={ 'fill' : json.legendtitlecolor,  'font-family' :json.legendtitlefont,  'font-size':json.legendtitlesize};
												leyenda.legend.area.labelAttrs={ 'fill' : json.legendlabelcolor,  'font-family' :json.legendlabelfont,  'font-size':json.legendlabelsize};
												$(".mapcontainer").trigger('update', [{mapOptions: leyenda}]);
												   
												for(i=0; i < leyendas.length ; i++){
													var datos = leyendas[i].split(":");
													var fill0 = datos[2].replace("}", '').replace(/['"]+/g, '');
													var fills = fill0.split(",");
													var fill = fills[0].trim() ;
													var label =datos[4].replace("]", '').replace(/['"]+/g, '').replace("}", '').trim() ;
													label = label.replace("]", '');
													leyenda.legend.area.slices[i]={'attrs': {'fill': fill, 'stroke': fill },'label': label};
													addSlice(fill);
													$("#sliceColor"+i).val(fill);
													$("#sliceText"+i).val(label);
													labelsLegend.labels[fill] = {
											                   label: label,
											                   color: fill
											           };
												  }
												
												changeLegend();
												
												var a=json.areas;  
												var regiones = a.split(",");
												for(i=0; i < regiones.length ; i++){
													var regiones1 = regiones[i].split(":");
													var color = regiones1[3].split(" ");
													var region1 = regiones1[0].replace(/['"]+/g, '');
												    var region = region1.replace(" ", '').replace("{",'').trim();
													data.areas[region] = {
													           attrs: {
													               fill: color[0].replace(/['" }]+/g, '')
													           }
													       };
													newData = data;
													colorsLegend.colores[region]=color[0].replace(/['" }]+/g, '');
												  }
												  $(".mapcontainer").trigger('update', [{ mapOptions: data }]);
												  
												  $(".area1").val(json.areas);
												  $(".legendInput").val(json.legend);
												  
												  $("#loadSuccess").css("display", "inline");
										            setTimeout(function(){	$("#loadSuccess").hide('slow'); }, 3000); 
										            
									    }else{
									    	$("#loadError").css("display", "flex");
								            setTimeout(function(){	$("#loadError").hide('slow'); }, 3000);
									    }
								    }catch (e){
								    	$("#loadErrorFormat").css("display", "flex");
							            setTimeout(function(){	$("#loadErrorFormat").hide('slow'); }, 3000);
								    }
								  };
								  lector.readAsText(archivo);
								 
								}
								document.getElementById('file-input').addEventListener('change', leerArchivo, false);
						    </script>
    		
				</form>
				
			</div>

			<div id="mapa" class="col-8" style="" >
				<div id="contenedor" class="mapcontainer" style="padding:10px">
					<center><div id="map-container" style = "margin-top:10px; width: 100%;" ><div class="map"><h1 th:text="#{map.loading}">Loading map</h1></div></div></center>
					
					<div id="legend-container" class="areaLegend"></div>
				</div>
			</div>

		</div>
	</div>

	<div id="contenedorCanvas" hidden >
		<canvas></canvas>
	</div>

	<script>
    
		const $boton = document.querySelector("#btnCapturar"), // El botón que desencadena
		  $objetivo = document.querySelector("#contenedor"), // A qué le tomamos la foto
		  $contenedorCanvas = document.querySelector("#contenedorCanvas"); // En dónde ponemos el elemento canvas

			$boton.addEventListener("click", () => {
			  html2canvas($objetivo).then(canvas => { 
				  $contenedorCanvas.appendChild(canvas); 
			      download_img = function(el) {
			          var image = canvas.toDataURL("image/jpg");
			          el.href = image;
			        };
			    });
			});
    </script>
    <script>
     function getPDF(){
		var HTML_Width = $("#contenedor").width();
		var HTML_Height = $("#contenedor").height();
		var top_left_margin = 15;
		var PDF_Width = HTML_Width+(top_left_margin*2);
		var PDF_Height = (PDF_Width*1.5)+(top_left_margin*2);
		var canvas_image_width = HTML_Width;
		var canvas_image_height = HTML_Height;
		
		var totalPDFPages = Math.ceil(HTML_Height/PDF_Height)-1;
		

		html2canvas($("#contenedor")[0],{allowTaint:true}).then(function(canvas) {
			canvas.getContext('2d');
			
			
			
			var imgData = canvas.toDataURL("image/jpeg", 1.0);
			var pdf = new jsPDF('p', 'pt',  [PDF_Width, PDF_Height]);
		    pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin,canvas_image_width,canvas_image_height);
			
			
			for (var i = 1; i <= totalPDFPages; i++) { 
				pdf.addPage(PDF_Width, PDF_Height);
				pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height*i)+(top_left_margin*4),canvas_image_width,canvas_image_height);
			}
			pdf.setFillColor('red');
		    pdf.save($(".namecode").val()+"_map.pdf");
        });
	};
    </script>
    <script>
     function getJSON(){
    	 var namecode =  $(".namecode").val();
    	 
    	 var name =  $("#mapname").val();
    	 var legend =  $(".legendInput").val();
    	 var areas = $(".area1").val();
    	 var borderColor = $("#selectedBorderColor").val();
    	 var background = $("#selectedBackgroundColor").val();
    	 var legendtitlefont = $("#fontTitleLegend").val();
    	 var legendtitlecolor = $("#colorTitleLegend").val();
    	 var legendtitlesize = $("#sizeTitleLegend").val();
    	 var legendlabelfont = $("#fontLabelLegend").val();
    	 var legendlabelcolor = $("#colorLabelLegend").val();
    	 var legendlabelsize = $("#sizeLabelLegend").val();
    	 var legendtitle = $("#legendTitle").val();
    	 var predefinedColor = $("#defaultAreaColor").val();
    	 var strokeWidth = $("#strokeWidth").val();
    	 var backgroundLegendColor = $("#selectedBackgroundColorLegend").val();
    	 var borderLegendColor = $("#selectedBorderColorLegend").val();
    	 var borderWidthLegend = $("#borderWidthLegend").val();
    	 var borderRadioLegend = $("#borderRadioLegend").val();
    	 
    	 var cadena = "{ \"namecode\": \"" + namecode + "\", \"name\": \"" + name + "\", \"areas\": " + JSON.stringify(areas) + 
			 ", \"legend\": " +  JSON.stringify(legend) + ", \"border\": \"" + borderColor +  "\", \"background\":\" " + 
			 background + "\", \"legendtitle\": \"" + legendtitle + "\", \"legendtitlefont\": \"" + legendtitlefont + "\", \"legendtitlecolor\": \"" + 
    		 legendtitlecolor + "\", \"legendtitlesize\": \"" +  legendtitlesize + "\", \"legendlabelfont\": \"" + 
    		 legendlabelfont + "\", \"legendlabelcolor\": \"" + legendlabelcolor + "\", \"legendlabelsize\": \"" + legendlabelsize +
    		 "\", \"predefinedColor\": \"" + predefinedColor + "\", \"strokeWidth\": \"" + strokeWidth + 
    		 "\", \"backgroundLegendColor\": \"" + backgroundLegendColor + "\", \"borderLegendColor\": \"" + borderLegendColor + 
    		 "\", \"borderWidthLegend\": \"" + borderWidthLegend + "\", \"borderRadioLegend\": \"" + borderRadioLegend + "\"}"; 
    	 

     var element = document.createElement('a');
		element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(cadena));
		element.setAttribute('download', $(".namecode").val()+"_map.txt");

		element.style.display = 'none';
		document.body.appendChild(element);

		element.click();

		document.body.removeChild(element);
     }
    </script>

	
</body>
</html>