<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" ></head>
    <link rel="stylesheet" type="text/css" href="static/css/table.css" th:href="@{/css/table.css}">
	<link rel="stylesheet" type="text/css" href="static/css/help.css"
	th:href="@{/css/help.css}">
	
<body>
	<nav th:replace="fragments/nav" ></nav>
	
	<div id="container" class="container-fluid">
		<h1 style="margin-bottom: 30px;margin-left:15px;" class="text-light"  th:text="#{nav.help}">Ayuda</h1>
		<div class="col"  style="">
				<div class="row row-cols-1 row-cols-md-3">
				  <div  id="linkmap" class="col mb-4">
				  <div style="z-index:1000" id="number-img" class="col-1 user-img float-left"> <img src="static/img/paso1.png" th:src="@{/img/paso1.png}" /> </div>
				    <div id="cardmap" class="card h-100">
				      <img alt="ImgHelp1" src="./../img/ayuda1.png" class="card-img-top">
				      <div id="cardmap" class="card-body ">
				        <h5 class="card-title" th:text="#{help.title1}" >1. Selecciona un mapa</h5>
						<p class="card-text" th:text="#{help.subtitle1}" >Selecciona una plantilla para editar tu mapa. Puedes seleccionar un país en el mapamundi o buscar un mapa en la tabla</p>
				      </div>
				    </div>
				  </div>
				  <div id="linkmap" class="col mb-4">
				  <div style="z-index:1000" id="number-img" class="col-12 user-img"> <img src="static/img/paso2.png" th:src="@{/img/paso2.png}" /> </div>
				  
				    <div id="cardmap" class="card h-100">
				      <img alt="ImgHelp2" src="./../img/ayuda2.png" class="card-img-top">
				      <div id="cardmap" class="card-body">
				        <h5 class="card-title" th:text="#{help.title2}">2. Colorea tu mapa</h5>
						<p class="card-text" th:text="#{help.subtitle2}">Selecciona un color en "color" y luego pincha sobre el área que desees pintar.</p>
				      </div>
				    </div>
				  </div>
				  <div id="linkmap" class="col mb-4">
				   <div style="z-index:1000" id="number-img" class="col-12 user-img"> <img src="static/img/paso3.png" th:src="@{/img/paso3.png}" /> </div>
				    <div id="cardmap" class="card h-100">
				      <img alt="ImgHelp3" src="./../img/ayuda3.png" class="card-img-top">
				      <div id="cardmap" class="card-body">
				        <h5 class="card-title" th:text="#{help.title3}">3. Selecciona un fondo</h5>
				        <p class="card-text" th:text="#{help.subtitle3}" >Selecciona un color en "fondo" para establecer el fondo de tu mapa</p>
				      </div>
				    </div>
				  </div>
				  <div id="linkmap" class="col mb-4">
				  <div style="z-index:1000" id="number-img" class="col-12 user-img"> <img src="static/img/paso4.png" th:src="@{/img/paso4.png}" /> </div>
				    <div id="cardmap" class="card h-100">
				      <img alt="ImgHelp4" src="./../img/ayuda4.png" class="card-img-top">
				      <div id="cardmap" class="card-body">
				        <h5 class="card-title" th:text="#{help.title4}">4. Selecciona un color para los bordes</h5>
						<p class="card-text" th:text="#{help.subtitle4}" >Selecciona un color en "bordes" para establecer el color de los bordes</p>
				      </div>
				    </div>
				  </div>
				  
				</div>
				<div class="row row-cols-1 row-cols-md-3">
				  <div id="linkmap" class="col mb-4">
				  <div style="z-index:1000" id="number-img" class="col-12 user-img"> <img src="static/img/paso5.png" th:src="@{/img/paso5.png}" /> </div>
				    <div id="cardmap" class="card h-100">
				      <img alt="ImgHelp5" src="./../img/ayuda5.png" class="card-img-top">
				      <div id="cardmap" class="card-body">
				        <h5 class="card-title" th:text="#{help.title5}">5. Selecciona un ancho para los bordes</h5>
						<p class="card-text" th:text="#{help.subtitle5}" >Selecciona un valor en "ancho de los bordes" para establecer el grosor de los bordes</p>
				      </div>
				    </div>
				  </div>
				  <div id="linkmap" class="col mb-4">
				  <div style="z-index:1000" id="number-img" class="col-12 user-img"> <img src="static/img/paso6.png" th:src="@{/img/paso6.png}" /> </div>
				    <div id="cardmap" class="card h-100">
				      <img alt="ImgHelp6" src="./../img/ayuda6.png" class="card-img-top">
				      <div id="cardmap" class="card-body">
				        <h5 class="card-title" th:text="#{help.title6}">6. Configura tu leyenda</h5>
						<p class="card-text" th:text="#{help.subtitle6}" >Establece los nombres de las etiquetas en "configuración de etiquetas"</p>
				      </div>
				    </div>
				  </div>
				  <div id="linkmap" class="col mb-4">
				  <div style="z-index:1000" id="number-img" class="col-12 user-img"> <img src="static/img/paso7.png" th:src="@{/img/paso7.png}" /> </div>
				    <div id="cardmap" class="card h-100">
				      <img alt="ImgHelp7" src="./../img/ayuda7.png" class="card-img-top">
				      <div id="cardmap" class="card-body">
				        <h5 class="card-title" th:text="#{help.title7}">7. Da estilo a tu leyenda</h5>
				        <p class="card-text" th:text="#{help.subtitle7}" >Puedes configurar el color de fondo y bordes de la leyenda, así como cambiar el color, el tipo y el tamaño de la letra</p>
				      </div>
				    </div>
				  </div>
				  <div id="linkmap" class="col mb-4">
				  <div style="z-index:1000" id="number-img" class="col-12 user-img"> <img src="static/img/paso8.png" th:src="@{/img/paso8.png}" /> </div>
				    <div id="cardmap" class="card h-100">
				      <img alt="ImgHelp8" src="./../img/ayuda8.png" class="card-img-top">
				      <div id="cardmap" class="card-body">
				        <h5 class="card-title" th:text="#{help.title8}">8. Guarda tu mapa</h5>
						<p class="card-text" th:text="#{help.subtitle8}"  >Puedes descargar el mapa o guardarlo en tu cuenta si estás registrado</p>
				      </div>
				    </div>
				  </div>
				  
				</div>
			</div>
			<div  id="container" class="container-form">
				<h1  class="text-light" th:text="#{help.informacion}"  >Información</h1>
				<div><a id="information" th:text="#{help.informacion1}" >Algunos mapas han sido creados con archivos SVG de</a> <a class="font-weight-bold text-light" href="https://vemaps.com/" >Vemaps.com</a> </div>
				<a id="information" th:text="#{help.informacion2}" >Esta aplicación ha sido creada por </a><a class="font-weight-bold text-light" href="https://github.com/IsmaCadenas" >Ismael Cadenas Alonso</a><a id="information" th:text="#{help.informacion3}">. Puedes ponerte en contacto mandando un correo electrónico a isma10cadenas@hotmail.com</a>
				
			</div>

	</div>
		
		
</body>
</html>
